<script type="text/javascript">
// <![CDATA[

/* This is part of the form_maker mod for phpBB3 copyright phpbbireland.com 2012 */

function postform_check()
{
	if (document.forms.postform.subject.value == '')
	{
		alert('{{ lang('SUBJECT_REQUIRED')|escape('js') }}');
		document.forms.postform.subject.focus();
		return(false);
	}
}

// ]]>
</script>

{% if MODE == 'post' %}
<div id="thisform" style="display:none; width:auto; margin-left:auto; margin-right:auto;" class="panels">
	<div class="inner">
		<div class="mand"><span class="mandatory">*</span> {{ lang('MANDATORY') }}</div>
		<fieldset class="fields2">
			{% for form_apptemplate in loops.form_apptemplate %}
			<dl>
				{{ form_apptemplate.FORMAT_BUTTONS }}
				<dt><label for="templatefield_{{ form_apptemplate.NAME }}">{{ form_apptemplate.NAME }}{{ lang('COLON') }}</label>{{ form_apptemplate.MANDATORY }}</dt>

				<dd>{{ form_apptemplate.TYPE }}</dd>
			</dl>
			{% endfor %}
		</fieldset>
	</div>
	<div class="panels">
		<div class="inner">
			<!--<div>
				<p class="add-to-map-text">We encourage everyone click on the "Add this fire to the map" button. Clicking this button will open up
					another window where you will be presented with a form just like the one above. Filling out the second form will place this fire on our
					<a href="http://www.wildlandfires.us/app.php/wildland-fire-map" target="_blank">Wildland Fire Map</a>. If you do not know the latitude or longitude of this fire you will be able to pick one from a map.</p>
			</div> -->
			<fieldset class="submit-buttons">
				{{ S_FORM_TOKEN }}
				<input type="button" class="button2" accesskey="f" name="useform" value="{{ lang('CLOSE_FORM') }}" style="font-weight:normal; width: 50px" onclick="toggle_forms()" title="{{ lang('CLOSE_FORM_EXPLAIN') }}" />
				<input type="reset" name="reset" value="{{ lang('RESET') }}" class="button2" />
				<input type="submit" accesskey="s" tabindex="6" name="post" value="{{ lang('SUBMIT') }}" class="button1 default-submit-action" onclick="return postform_check();" />
				<!--<a href="https://survey123.arcgis.com/share/0ce026854ecf451ca156a72d935caffc" target="_blank" class="button add-to-map-button">
					Add this fire to the map<i class="icon fa-external-link external-link"></i>
				</a> -->
			</fieldset>
		</div>
	</div>
</div>
<div id="lblValues"></div>

<script type="text/javascript">
// <![CDATA[
function toggle_validation()
{
	/*
	Turn off postform html5 validation so we can switch on/off for our new form...
	Otherwise posting for new topics (in this forum) will only work if the new form is used...
	*/

	var $_hidden = 0;
	var $_empty = 0;
	var myform = 'postform';

	$_hidden = is_hidden('thisform');

	if ($_hidden == 0)
	{
		document.forms.postform.noValidate=true;
	}
	else
	{
		document.forms.postform.noValidate=false;
	}
}


// ]]>
</script>
{% endif %}
